<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glsx.vasp.business.modules.cities.mapper.BaseCitiesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.glsx.vasp.entity.SysCity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="provinceCode" column="province_code"/>
    </resultMap>

    <select id="search" resultMap="BaseResultMap">
        select bc.* from base_cities bc
        where 1=1
        <if test="code != null and code !=''">
            and bc.code LIKE CONCAT('%',#{code},'%')
        </if>
        <if test="name != null and name !=''">
            and bc.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="provinceCode != null and provinceCode !=''">
            and bc.province_code LIKE CONCAT('%',#{provinceCode},'%')
        </if>
        order by bc.id desc
    </select>
</mapper>