<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glsx.vasp.admin.modules.store.mapper.StoreUserMapper">
    <resultMap id="BaseResultMap" type="com.glsx.vasp.admin.modules.store.entity.StoreUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR"/>
        <result column="mini_openid" property="miniOpenid" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="enable_status" property="enableStatus" jdbcType="TINYINT"/>
        <result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, phone, wx_openid, mini_openid, store_id, enable_status, del_flag, create_time, update_time
  </sql>

    <select id="selectByStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_store_user
        where store_id = #{storeId}
        and del_flag = 0
        order by id
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_store_user
        where phone = #{phone}
        and del_flag = 0
    </select>

    <select id="selectByPhones" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_store_user
        where phone in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and del_flag = 0
    </select>

    <update id="changeStatusByStoreId">
        update d_store_user set enable_status = #{enableStatus} where store_id = #{storeId}
    </update>

    <update id="logicDelete">
        update d_store_user set del_flag = -1 where id = #{id}
    </update>

    <update id="logicDeleteByStoreId">
        update d_store_user set del_flag = -1 where store_id = #{storeId}
    </update>
</mapper>