<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glsx.vasp.admin.modules.coupon.mapper.CouponRecipientsMapper">
    <resultMap id="BaseResultMap" type="com.glsx.vasp.admin.modules.coupon.entity.CouponRecipients">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
        <result column="coupon_title" property="couponTitle" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="cost_amount" property="costAmount" jdbcType="DECIMAL"/>
        <result column="used_amount" property="usedAmount" jdbcType="DECIMAL"/>
        <result column="used_quantity" property="usedQuantity" jdbcType="INTEGER"/>
        <result column="used_flag" property="usedFlag" jdbcType="TINYINT"/>
        <result column="finance_order_no" property="financeOrderNo" jdbcType="VARCHAR"/>
        <result column="vin_no" property="vinNo" jdbcType="VARCHAR"/>
        <result column="enable_status" property="enableStatus" jdbcType="TINYINT"/>
        <result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, coupon_id, coupon_title, user_id, goods_id, cost_amount, used_amount, used_quantity, used_flag,
    finance_order_no, vin_no, enable_status, del_flag, create_user, update_user, create_time, update_time
  </sql>
</mapper>