<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glsx.vasp.admin.modules.sys.mapper.SysOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.glsx.vasp.admin.modules.sys.entity.SysOrganization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="org_type" property="orgType" jdbcType="INTEGER" />
    <result column="org_level" property="orgLevel" jdbcType="INTEGER" />
    <result column="contactor" property="contactor" jdbcType="VARCHAR" />
    <result column="contactor_phone" property="contactorPhone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="enable_status" property="enableStatus" jdbcType="TINYINT" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result property="createUser" column="create_user"/>
    <result property="updateUser" column="update_user"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_id, name, parent_id, org_type, org_level, contactor, contactor_phone, province, 
    city, address, remark, enable_status, del_flag, create_time, update_time
  </sql>

  <select id="selectByOrgId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from sys_organization where org_id = #{orgId}
  </select>

  <select id="selectChildrenOrgs" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from sys_organization where parent_id = #{orgId}
  </select>
</mapper>