<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glsx.vasp.admin.modules.sys.mapper.SysRoleResourceMapper">
    <resultMap id="BaseResultMap" type="com.glsx.vasp.admin.modules.sys.entity.SysRoleResource">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="roleId" jdbcType="INTEGER" property="roleid"/>
        <result column="resourceId" jdbcType="INTEGER" property="resourceid"/>
    </resultMap>

    <update id="updateRolePerm">
        delete from sys_role_resource where roleId = #{roleId};
        insert into sys_role_resource(roleId,resourceId) values
        <foreach collection="sysResources" item="resource" separator="," >
            (#{roleId},#{resource})
        </foreach>
    </update>

    <delete id="deleteRoleResource">
       delete from sys_role_resource where roleId = #{roleId}
    </delete>
</mapper>